@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

.myapp {
  background: linear-gradient(to top, #fceabb, #f8b500);
  min-height: 100vh;
  display: grid;
}